<%- include('../common/header') ; -%>


<%- include('../common/searchForm') ; -%>

<% 
  function show(heading, val, suppressBR) {
    if (val) return ((suppressBR) ? "" : "<BR>") + ((heading) ? (heading + ": ") : "") + val ;
    else return "" ;
  }

  function genImageSrc(id) {
    let im = id.replace('https://nla.gov.au', '/static/pics')
            .replace('http://nla.gov.au', '/static/pics')
            .replace("/image", ".jpg")
            .replace("/representativeImage", ".jpg") ;
    // something like   /static/pics/nla.obj-161515917.jpg
    let i = im.indexOf('/nla.obj-') ;
    let j = im.indexOf('.jpg') ;
    let idd = Number(im.substring(i+9, j)) ;
    let subDir = idd % 1000 ;
    return im.substring(0, i) + "/" + subDir + im.substring(i) ;

  }
%>
<div id="results">
  
  <% if (like) {%>
    <H3>Image similar to <%= like %></H3>
  <% } %>

  <% if (err) { %>
    <H2 style="color:red"><%=err%></H2>
  <% } %>
  <% if (searchResults) { 
    let r = 1 ; %>
    <H2>Found <%=searchResults.response.numFound%></H2>
    <TABLE CELLSPACING="10">
      <TR><TH colspan='2'></TH><TH>NLA Metadata</TH><TH>AI generated description</TH></TR>
    <% for (let doc of searchResults.response.docs) { %>

        <%  
          let decodedSus = null ;
          if (doc.suppressed) 
            switch (doc.suppressed) {
              case 'I': decodedSus = "by NSFW image analysis" ; break ;
              case 'K': decodedSus = "by keyword list" ; break ;
              case 'L': decodedSus = "by LLM metadata analysis" ; break ;
              case 'V': decodedSus = "by MSVision image analysis" ; break ;
              default : decodedSus = "code " + doc.suppressed ;
            }
        %>

        <TR valign="top">
          <TD><%=r++%></TD>
          <TD>
      
            <A href='<%=doc.id%>' class='<%-(decodedSus) ? "suppressImage" : "showImage" -%>'><img src='<%- genImageSrc(doc.id) -%>' width=300 /></A>

            <% if (decodedSus) { %>
              <div>
                <B>Image Suppressed</B><BR/>
                <P>This image has been suppressed because some people may find it distressing or offensive.</P>
                <P>Before deciding to view this image, you should read the image description and be aware
                  that the content may offend.</P>
                  <P>Consistent with its role as a national memory institution, 
                  the NLA does not censor content.</P>
                <button class="imageSuppressed">I understand - show me the image</button>
              </div>
            <% } %>
          </TD>
          <TD>
           <B><%= doc.title %></B> 
           <%- show("Author", doc.author) -%>
           <%- show("Description", doc.originalDescription) -%>
           <%- show("Notes", doc.notes) -%>
           <%- show("Subjects", doc.subjects) -%>
           <%- show("Format", doc.format) -%>
           <%- show("BibId", doc.bibId) -%>
           <BR/>
           <%- show("Score", doc.score.toFixed(4)) -%>
           <%- show("Image similarity", doc.imageSim.toFixed(4)) -%>
           <%- show("Metadata similarity", doc.metadataSim.toFixed(4)) -%>
           <%- show("openAi similarity", doc.openaiSim.toFixed(4)) -%>
           <%- show("MSVision similarity", doc.msVisionSim.toFixed(4)) -%>



           <%- show("Suppressed", decodedSus) -%>
           
           <BR/><BR/><a href="/search?like=<%=doc.id%>">Similar images</a>
          </TD>
          <TD width="40%">
            
            <% if (doc.openAIDescription) { %>
                 <%- show("", "openAI: " + doc.openAIDescription + "<P/>", true) -%>
            <% } %>
            <% if (doc.msVisionDescription) { %>
                
                 <%- show("", "MS Vision: " + doc.msVisionDescription , true) -%>
            <% } %>


          </TD>
        </TR>
    <% } %>
    </TABLE>
  <% } %>
</div>

<%- include('../common/footer') ; -%>

